<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>EventSphere</display-name>

    <servlet>
        <servlet-name>ListEventServlet</servlet-name>
        <servlet-class>ict.servlet.ListEventServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListEventServlet</servlet-name>
        <url-pattern>/searchEventServlet</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/EVENTSDB</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value></param-value>
    </context-param>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/HandleError.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>searchEvents.jsp</welcome-file>
    </welcome-file-list>
</web-app>
